.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--gradient);
}

.login .card {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login .btn {
  width: 100%;
  margin: 10px 0;
}